h4 {
    color: #cccccc;
    padding: 20px;
}

dt.col-sm-3 {
    font-size: 18pt;
}

dd.col-sm-9 {
    font-size: 18pt;
}

h1.access {
    padding-left: 150px
}

form > .form-control {
    margin-bottom: 1.4rem;
}


form.login_form {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
    height: 100vh;
}
/* https://mdbootstrap.com/previews/docs/latest/html/intros/intro-minimalistic.html */
.view .mask {
    background-attachment: fixed;
    bottom: 0;
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.intro-image {
    background-image: url("../index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.intro-hr {
    border-top: 3px solid white;
}

.about-image {
    object-fit: cover;
}

div.mb3{
   border:0px;
   border-width: 0px;
   outline:0px;
}

table.form-control{
    border:0px;
    border-width: 0px;
    outline:0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.accordion {
  background-color: #f9f9f9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ddd;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
