{% extends 'base.html' %}

{% block content %}
<div class="container-sm">
    <form action="" method="post" class="contact-form form-control-sm">
    {{ form.hidden_tag() }}

    {{ form.date.label (class="form-label-sm") }}
    {{ form.date(class="form-control") }}
    {% for error in form.date.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    {{ form.time.label (class="form-label-sm") }}
    {{ form.time(class="form-control") }}
    {% for error in form.time.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <div>{{ form.submit(type="submit", class="btn btn-primary") }}</div>

</form>
</div>
{% endblock %}